<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My example app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styling.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    </head>
    <body>
        <div class="header">
            <h1>My example app</h1>
            <button class="button button2" onclick="getLocation()">What's my location?</button>
        
            <button class="button button2" onclick="saveLocation()">Save location</button>
        
            <button class="button button2" onclick="showSavedLocations()">Load my saved locations</button>
        </div>




        <div class="row">
        <div class="column side" style="background-color:#aaa;">
            <h2>My current location</h2>
            <p>This section will display the user's current location information.</p>
            <p id="latitude"></p>
            <p id="longitude"></p>
            <p id="place"></p>
        </div>
        <div  id="map" class="column middle" style="background-color:#bbb; height: 300px;">
            <h2>Map</h2>
        </div>
        <div class="column side" style="background-color:#ccc;">
            <h2>Saved locations</h2>
            <p>This section will display the user's saved locations.</p>
            <table id="saved-locations"> <tbody id="testBody"></tbody> </table>
        </div>
        </div>


    <div class="footer">
        <p>Developed for educational purposes.</p>
    </div>


    <script>

    const marker_position = {  // const means that the object template cannot change, only the property values
        longitude: null,
        latitude: null,
        name: null
    };

    
    var map = L.map('map').setView([0, 0], 1);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                // maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    var marker;

    function onMapClick(e) {
        if (marker != null) {
            marker.remove();
        }
        //console.log(e);
        marker = L.marker(e.latlng).addTo(map);
        marker_position.latitude = e.latlng.lat;
        marker_position.longitude = e.latlng.lng;
    }

    map.on('click', onMapClick);


    function showPosition(position) {
        console.log(position);
        var lat = document.getElementById("latitude");
        var lon = document.getElementById("longitude");
        lat.innerHTML = "Latitude: " + position.coords.latitude;
        lon.innerHTML = "Longitude: " + position.coords.longitude;

        showLocationOnMap(position.coords.latitude, position.coords.longitude);

        marker_position.longitude = position.coords.longitude;
        marker_position.latitude = position.coords.latitude;

        requestCoordinateTranslation(position.coords.latitude, position.coords.longitude)
        .then(translation => {
            marker_position.name = translation;
        })
        .catch(error => {
            console.error('Error getting coordinate translation:', error);
        });
    }



    function showLocationOnMap(latitude, longitude) {
        map.setView([latitude, longitude], 18);
        marker = L.marker([latitude, longitude]).addTo(map);
    }


    // function requestCoordinateTranslation(latitude, longitude) {
    //     var domain = 'https://nominatim.openstreetmap.org/';
    //     var operation = 'reverse.php';
    //     var zoom = '18'; // building level
    //     var format = 'json';
    //     var url = domain + operation + "?" + "lat=" + latitude + "&lon=" + longitude + "&zoom=18&format=json";
    //     var request = new XMLHttpRequest();
    //     request.open('GET', url, true);

    //     request.onload = function() {
    //         if (request.status >= 200 && request.status < 400) {
    //             // Success!
    //             var data = JSON.parse(request.responseText);
    //             console.log(data);
    //             document.getElementById("place").innerHTML = data.name;
    //             translation = data.name;
    //         } 
    //     }
    //     request.send();
    // }

    function requestCoordinateTranslation(latitude, longitude) {
        var domain = 'https://nominatim.openstreetmap.org/';
        var operation = 'reverse.php';
        var zoom = '18'; // building level
        var format = 'json';
        var url = domain + operation + "?" + "lat=" + latitude + "&lon=" + longitude + "&zoom=18&format=json";

        return fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Handle the data
            console.log(data);
            document.getElementById("place").innerHTML = data.name;
            return data.name;
        })
        .catch(error => {
            // Handle errors
            console.error('There was a problem with the fetch operation:', error);
            throw error;
        });
    }


    function saveLocation() {
        console.log(JSON.stringify(marker_position));
        fetch('http://localhost:5000/save_location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(marker_position)
            })
            .then(response => {
                // Handle the response here if needed
                console.log('Data saved successfully!');
            })
            .catch(error => {
                // Handle errors
                console.error('Error saving data:', error);
            });
    }


    function getLocation() {
        navigator.geolocation.getCurrentPosition(showPosition);
    }

    function populateTable(data) {
        table = document.getElementById("saved-locations");
        console.log(data);

        data.forEach(item => {
            console.log(item);
            const row = document.createElement('tr');

            item.forEach(cell_content => {
                const cell = document.createElement('td');
                cell.textContent = cell_content;
                row.appendChild(cell);
            });
            table.appendChild(row);
        });
    }


    function showSavedLocations() {
        // Make a GET request to the Flask route
        fetch('/show_data')
            .then(response => response.json())
            .then(data => {
                // Data received, handle it here
                // console.log(data);
                populateTable(data.locations);

                data.locations.forEach(location => {
                console.log(`ID: ${location[0]}, Name: ${location[1]}, Latitude: ${location[2]}, Longitude: ${location[3]}`);
                });
            })
        .catch(error => {
        // Handle errors
        console.error('Error fetching data:', error);
    });

    }

    </script>       

    </body>
</html>
